
*{margin: 0;
padding: 0;}
body{
    font-family: proxima-nova,Arial,sans-serif;
    font-size: 10px;
}
/* 侧边栏 */
.sidebar-collapse{
    background-color: #373b3f;
    min-width: 13%;
    height: 100%;
    position:fixed;
    display: block;
    text-align: center;
    font-size: 20px;
    left: 0px;
    /* padding: 14px 20px 14px 25px; */
}
.sidebar-collapse span{
    color: aliceblue;
}
.returnMenu{

    text-align: center;
}
.nav_ul a{
    color: aliceblue;
}
/* 整个右边 */
.right-page{
    width: 87%;
    height: 100%;
    position: absolute;
    right:0px;
}
.header{
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom:1px solid #d1d4d7;     
}
.login{
    position: absolute; 
    top: 18px; 
    right: 10px;
    font-size: 14px;
    text-align: right;
}

.liClass:nth-child(3),
.liClass:nth-child(4),
.liClass:nth-child(5){
    background-color: #373b3f;
}

.turn-page{
    /* background-color: gray; */
    height: 10%;
    width: 100%;
}
/*产品列表*/
.product-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top:1px solid #d1d4d7 ;
    border-bottom: 1px solid #d1d4d7;
}
/* 产品 */
.product{
    height: 150px;
    width: 450px;
    display: flex;
    border-bottom:1px solid #d1d4d7;          
    align-items: center;  
    /* 属性定义项目的放大比例 */
    flex-grow:  1;
    /* 属性定义了项目的缩小比例 */
    flex-shrink:  0;
    margin-right: 10px;
}

.proBtn{
    background-color: #005bca;
    border-color: #005bca;
    height: 30px; 
    width: 80px;
    border-radius: 5px;
    font-size: 10px;
    color: #ffff;
    margin: auto;
}
h3>a{
    font-size: 16px;
    font-weight: 700;
}
h4{
    font-size: 18px;
    line-height: 0.1;
}
.proImg{
    border-radius: 10px;
}

.proP{
    font-size: 10px;color: #585f65;
}
.proDiv{ 
    display: flex;align-items:center;

   
}
.proState{
    background-color: #00857a;
    color: white;font-family: 华文彩云;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
a:visited{color:black;}